<div>BeforeSwallowingExceptionInAction</div>
@{
    try
    {
        @Html.Action("ThrowExceptionInAction")
    }
    catch(Exception)
    {
<div>ISwallowedAnException</div>
    }
}<div>AfterSwallowingExceptionInAction</div>